.nav-container {
    width: 100vw;
    background-color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;
    transition: transform .5s ease-in-out;
}
.nav-container li:hover {
    transform: scale(1.05);
    border-bottom: 1px solid #b6b6b6;
}
.nav-container a {
    text-decoration: none;
    color: #b6b6b6;
}

@media screen and (min-width: 768px) {
    .nav-container ul {
        gap: 50px;
    }
}