@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}
body:after {
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 1) 98%);
    z-index: -1;
}

a {
    text-decoration: none;
}

.icons {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    filter: invert(1);
    margin-bottom: 30px;
}
.game-link {
    margin-right: 70%;
    filter: none;
}

.icon-img {
    width: 30px;
    height: 30px;
    transition: .3s ease-in-out;
}
.icon-img:hover {
    transform: scale(1.1);
}

.imgs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.imgs .img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: none;
    animation: changeImg .7s;
}
.imgs .img.active {
    display: block;
}

.info-container {
    display: none;
    height: 500px;
}

.info-container.info-active {
    display: block;
}

.logo-container {
    margin-bottom: 15px;
}

.logo {
    max-width: 350px;
}

.desc-txt {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    color: white;
    height: 250px;
    padding: 15px;
    font-size: 1em;
    line-height: 20px;
    width: 49%;
    text-shadow: 1px 1px 2px black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
}

.trailer {
    background-color: red;
    border: none;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    margin-top: 10px;
    border-radius: 5px;
}
.trailer a {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.btn-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #fff;
}
.btn.selected {
    background-color: #000;
}

@keyframes changeImg {
    from {
        opacity: .85;
    }

    to {
        opacity: 1;
    }
}