<div class="container-small-card">
    <div class="container-small-card-content">
        <div class="small-card-picture">
            <img src="https://3.bp.blogspot.com/-sHdMqQnvCUs/WG5pZZ36yMI/AAAAAAAAAsY/ltdS8KprDGA-8kDV17oXKrPd2HJH1b4owCEw/s1600/Turma.jpg" alt="">
        </div>
        <div class="small-card-title">
            <a href="#"><h1>Dragon Quest VIII chega ao nintendo switch com algumas adições interessantes...</h1></a>
        </div>
    </div>
    <div class="small-card-row">
        <hr>
    </div>
</div>
