<app-menu-title></app-menu-title>

<div class="articles">
  <div class="articles-main">
    <app-big-card 
    id = "1"
    photoCover="https://2.bp.blogspot.com/-mlHthmCWtpY/WG5gGpbIkKI/AAAAAAAAAr4/hv_le0NgrucBRZBCbuhF22sWHudUDyldwCLcB/s640/Capa.jpg"
    cardTitle="Dragon Quest VIII no 3DS"
    cardDescription="Após uma longa espera, o oitavo título da franquia Dragon Quest é lançado para o portátil da nintendo com algumas novidades."
    ></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
    id = "2"
    photoCover="https://i.ytimg.com/vi/QNUQNRjjzEU/maxresdefault.jpg"
    cardTitle="Diferenças entre a versão de Playstation 2 e a de Nintendo 3DS"
    ></app-small-card>
    <app-small-card
    id = "3"
    photoCover="https://i.ytimg.com/vi/Z2R7dFH4-gg/maxresdefault.jpg"
    cardTitle="Rumores de que o Dragon Quest VIII poderá ser lançado até o ano que vem para o Nintendo 3DS"
    ></app-small-card>
    <app-small-card
    id = "4"
    photoCover="https://www.gameinformer.com/s3/files/styles/body_default/s3/legacy-images/imagefeed/Moments%20%E2%80%93%20The%20Decision%20In%20Radiata%20Stories/radiatastoriesmoment610.jpg"
    cardTitle="Você conhece Radiata Stories? Veja mais sobre essa pérola escondida do PS2"
    ></app-small-card>
  </div>
</div>
