* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011F3F;
  width: 100vw;
  user-select: none;
}

.btn {
  color: #011F3F;
  font-family: "Press Start 2P";
  padding: 5px;
  font-size: 1.5em;
  margin: 50px;
  cursor: pointer;
  transition: .5s ease-in-out;
  border: 3px solid black;
  width: 350px;
}
.btn:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.items:hover {
  border: 3px solid white;
  box-shadow: 1px 1px 3px;
}

.green {
  background-color: green;
  border-top-left-radius: 150px;
  border: 5px solid black;
}

.red {
  background-color: red;
  border-bottom-left-radius: 150px;
  border: 5px solid black;
}

.yellow {
  background-color: yellow;
  border-top-right-radius: 150px;
  border: 5px solid black;
}

.blue {
  background-color: blue;
  border-bottom-right-radius: 150px;
  border: 5px solid black;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

