:root {
    --bg-color: #f1b1d1;
    --main-color: #de85b1;
    --title-color: #91044a;
    --p-color: #740432;
    --box-color: #CF3777;
    --shadow: rgba(0, 0, 0, 0.5)
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    max-width: 100vw;
    max-height: 100vh;
}

h3 {
    color: var(--title-color);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    margin: 0;
   }


@media screen and (max-width: 480px){

    /* header */
   .logo {
    width: 200px;
   }
   header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    box-shadow: 0px 3px 5px var(--shadow);
    margin-bottom: 10px;
   }
   .menu {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: .8em;
    padding-left: 3px;
    color: var(--title-color);
    border-left: 1px solid var(--title-color);
    transition: .1s;
   }
   .menu:first-child {
    border: none;
   }
   .menu:hover {
    border: 1px solid var(--title-color);
   }

   /* serviços */

  .serviços {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  } 
  .display {
    width: 46%;
    height: 170px;
    background-color: var(--box-color);
    margin: 5px;
    box-shadow: 1px 1px 5px var(--shadow);
    transition: .1s;
  }
  .display:hover {
    transform: scale(1.05);
  }

  /* duvidas */

  .duvidas {
    background-color: var(--main-color);
    box-shadow: 3px 3px 5px var(--shadow);
    margin-bottom: 10px;
  }
  .duv-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 10px;
  }
  .duv {
    border-radius: 5px;
    background-color: var(--bg-color);
    width: 46%;
    margin: 5px;
    box-shadow: 3px 3px 5px var(--shadow);
  }
  .duv-title {
    color: var(--title-color);
    font-weight: bold;
  }
  .div-txt {
    color: var(--p-color);
  }

  /* clientes */

  .clientes {
    margin-bottom: 10px;
  }
  .clientes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cliente {
    width: 80px;
    height: 80px;
    margin: 4px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px var(--shadow);
    background-color: var(--box-color);  
    transition: .1s;
  }
  .cliente:hover {
    transform: scale(1.05);
  }

  /* cuidados */

  .cuidados {
    background-color: var(--main-color);
    box-shadow: 3px 3px 5px var(--shadow);
  }
  .cuidados p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 5px;
    margin: 0 10px 0 10px;
    color: var(--p-color);

  }
  .cuidados li {
    color: var(--p-color);
    font-family: sans 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
  }

  /* contato */

  .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8em;
    color: var(--p-color);
  }
  .contato p {
    margin: 3px;
  }
  .contato a {
    text-decoration: none;
    color: var(--title-color);
  }

  .dev-name {
    background-color: var(--main-color);
    width: 100vw;
    text-align: center;
  }
   
}

@media screen and (min-width: 481px) {
   /* header */
   .logo {
    width: 300px;
   }
   header {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    box-shadow: 0px 3px 5px var(--shadow);
    margin-bottom: 10px;
   }
   .menu {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1em;
    padding-left: 3px;
    color: var(--title-color);
    border-left: 1px solid var(--title-color);
    transition: .1s;
   }
   .menu:first-child {
    border: none;
   }
   .menu:hover {
    border: 1px solid var(--title-color);
   }

   /* serviços */

  .serviços {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 10px;
  } 
  .display {
    width: 400px;
    height: 400px;
    background-color: var(--box-color);
    margin: 15px;
    box-shadow: 1px 1px 5px var(--shadow);
    transition: .1s;
  }
  .display:hover {
    transform: scale(1.05);
  }

  /* duvidas */

  .duvidas {
    background-color: var(--main-color);
    box-shadow: 3px 3px 5px var(--shadow);
    margin-bottom: 10px;
  }
  .duv-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 10px;
  }
  .duv {
    border-radius: 5px;
    background-color: var(--bg-color);
    width: 250px;
    margin: 15px;
    box-shadow: 3px 3px 5px var(--shadow);
  }
  .duv:hover {
    background-color: #eebbd4;
  }
  .duv-title {
    color: var(--title-color);
    font-weight: bold;
  }
  .div-txt {
    color: var(--p-color);
  }

  /* clientes */

  .clientes {
    margin-bottom: 10px;
  }
  .clientes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cliente {
    width: 250px;
    height: 250px;
    margin: 25px 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px var(--shadow);
    background-color: var(--box-color);  
    transition: .1s;
  }
  .cliente:hover {
    transform: scale(1.05);
  }

  /* cuidados */

  .cuidados {
    background-color: var(--main-color);
    box-shadow: 3px 3px 5px var(--shadow);
  }
  .cuidados p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 5px;
    margin: 0 10px 0 10px;
    color: var(--p-color);

  }
  .cuidados li {
    color: var(--p-color);
    font-family: sans 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
  }

  /* contato */

  .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8em;
    color: var(--p-color);
  }
  .contato p {
    margin: 3px;
  }
  .contato a {
    text-decoration: none;
    color: var(--title-color);
  }

  .dev-name {
    background-color: var(--main-color);
    width: 100vw;
    text-align: center;
  }
   
}