<div class="big-card-container">
    <div class="big-card-picture">
        <img src="https://media.istockphoto.com/id/1147544807/pt/vetorial/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=yQW3zPovyK7AFC4uApkbb5fiopWQeU1PiIRuDublNZ4=" alt="" height="300px" width="600px">
    </div>
    <div class="big-card-title">
            <a href="#">Título</a>
    </div>
    <div class="big-card-description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, culpa impedit? Laudantium iste, ipsum ratione sint iure asperiores beatae quasi unde sunt aut neque ex expedita vitae corrupti blanditiis necessitatibus.</p>
    </div>
</div>
